<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_watchface_branding"
        android:roundIcon="@drawable/ic_watchface_branding"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name=".BinaryBloomWatchFaceService"
            android:exported="true"
            android:label="@string/watch_face_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <action android:name="androidx.wear.watchface.WatchFaceService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />

            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_preview" />

            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/watchface_preview_circular" />
        </service>
    </application>

</manifest>
